[2015-10-24 00:59] Ocramius opened #5 "Re-generate token only on data changes or after a certain amount of lifetime"
A token should only be re-generated after:
 - the data changed
 - its lifecycle has past a certain amount of time (10% of lifetime, for example)

This greatly reduces crypto CPU usage, as well as prevents slamming the cookies due to race conditions.

Our todo list is:

- [x] track data change;
- [x] configure the refresh lifetime (10% can be the default);
- [x] ensure that the token cookie **is no

[2015-10-24 01:01] Ocramius opened #6 "Expire the session cookie if there previously is one (with valid token), but the data container is empty"
The session cookie should be forcefully removed if:

 - the client sent it previously
 - the data in it (at the end of the request) is empty

[2015-11-14 01:56] Ocramius commented on #5
#11 implements points 1 and 3

[2015-11-14 02:52] Ocramius opened #12 "Make the session container lazy by default"
Injecting a session container can happen at all times, but we don't need to parse the contents of the session at each request.

Instead, we can just parse those only when we actually want to read/write anything to the session, avoiding using up crypto resources unless strictly required.

[2015-11-14 03:02] lcobucci commented on #6
Closed by #11

[2015-11-14 03:02] #6 closed

[2015-11-14 10:21] #12 closed

[2015-11-14 10:57] Ocramius opened #15 "Provide installation methods for different frameworks"
Maybe it is time to split `README.md`?

[2015-11-15 09:08] malukenho commented on #5
It was completed right?

[2015-11-15 09:10] Ocramius commented on #5
@malukenho indeed!

[2015-11-15 09:10] #5 closed

[2015-11-18 23:59] Ocramius opened #20 "Make the dependency on time explicit"

[2015-11-18 23:59] Ocramius commented on #20
We are currently relying on `new DateTime` and `time()` inside the internals of PSR7Session: this is a hidden dependency that should instead be injected via a `clock` object (or similar)

[2015-11-19 00:03] Ocramius opened #21 "Provide also traditional sessions?"
Since we renamed the repo from `StorageLessSession` to `PSR7Session`, we may as well introduce support for a "standard" session middleware (with session IDs and server-side session storage):

 - UUID based (no low crypto ID generation)
 - file-only support first (like `ext/session`)
 - same concepts as `ext/session` (validity of entries, etc)
 - clear adapter specification (stuff like GC should be

[2015-11-19 00:09] Ocramius commented on #21
Possible storage adapter interface (requires further inspecting):

[code]

I would still apply the rules around the contents (do not allow object serialization).

[2015-11-19 00:11] Ocramius opened #22 "Add security mistakes examples"
We need a couple of examples of things to avoid:

 - using an unsafe key
 - storing server-sensitive information in the session
 - storing objects in the session

[2015-11-19 00:12] Ocramius opened #23 "Storing non-`JsonSerializable` data in a session container should make it scream"
Maybe we should reject anything that isn't `JsonSerializable` to avoid "wtf moments"?

[2015-11-19 00:23] danizord commented on #23
:+1:

[2015-11-19 00:25] danizord commented on #21
:+1:

[2015-11-19 01:13] Ocramius opened #24 "Provide benchmark results"
Since we benchmarked the storageless approach, we may as well provide scripts to compare it with `ext/session` and other storage-based solutions.

[2015-11-19 11:32] AndrewCarterUK opened #26 "Is this suitable for running over multiple HTTP request cycles?"
Hello,

I work on a project called [PHPFastCGI](http://github.com/PHPFastCGI/FastCGIDaemon) and I've been keeping an eye out for PSR-7 session middleware to recommend for the project.

Most that I've seen makes the assumption that it will only ever be used for one request cycle - is the same true for this one?

Best Regards,

Andrew

[2015-11-19 11:35] Ocramius commented on #26
@AndrewCarterUK yes, that was one of the design prerequisites.

[2015-11-19 11:35] #26 closed

[2015-11-19 11:36] AndrewCarterUK commented on #26
Awesome, I'll add it to the docs later :) (Y)

[2015-11-19 11:39] lcobucci commented on #26
We also have a [test covering that](https://github.com/Ocramius/PSR7Session/blob/master/test/PSR7SessionTest/Http/SessionMiddlewareTest.php#L76) :smile:

[2015-11-21 21:20] shochdoerfer commented on #21
:+1:

[2015-11-25 12:29] Ocramius opened #28 "Functional/immutable approach to session containers"
Currently, the session middleware is designed to inject a _mutable_ session container into the `ServerRequestInterface` attributes.

While this approach is highly usable, it doesn't really compose well with functional approaches, and it breaks the `ServerRequestInterface` immutability by design (this choice is conscious).

Here's what the current approach looks like:

[code]

In a functional/immut

[2015-11-25 14:31] danizord commented on #28
OH EM GEE, THAT LIBRARY BREAKS IMMUTABILITY! :trollface:

Seriously, that really breaks message immutability, but while that approach brings some mutability drawbacks, it's not a PSR-7 violation at all, since [PSR-7 allows mutable attributes](https://github.com/php-fig/http-message/blob/f22d9b6dd24ec003c7996813d505e4a9b1b6390d/src/ServerRequestInterface.php#L206). So I still prefer the "convenient

[2015-11-25 14:32] Ocramius commented on #28
Yeah, and I also don't want to manually write the session in every middleware anyway :-)

[2015-11-25 15:32] MidnightDesign commented on #21
Sounds great. Would I be able to use this (easily) an an MVC context? Some class that knows about the storage and pulls the session data from there or creates a new session if no session cookie is set.

[2015-11-25 15:34] Ocramius commented on #21
Probably not - the problem with this kind of approach is that the session system would need to be aware of the "current" request.

Something like you proposed in #zendframework/zend-session#11 could work:

[code]

[2015-11-25 15:39] MidnightDesign commented on #21
The only problem with my proposal is how to get the newly created session ID into the response. That would have to be done manually after obtaining the new session container, wouldn't it?

[2015-11-25 15:41] Ocramius commented on #21
@MidnightDesign I suggest looking at the current middleware for an idea of how this is achieved: the middleware wraps the entire app and can decide when a session needs to be written to disk.

[2015-11-25 15:49] MidnightDesign commented on #21
Yeah, I get how this works. And I love Middleware. But I'm thinking about other contexts right now - in my case ZF2. That wouldn't be possible there, would it? Well, maybe with events...

When do you think will you be able to start working on that stuff? I could try implementing a ZF2 module based on your work. Can I help you with anything on this project?

[2015-11-25 16:07] Ocramius commented on #21
@MidnightDesign if you could try implementing the storage-based sessions, that would be rad.

It shouldn't be too complex

[2015-11-25 16:27] MidnightDesign commented on #21
I've never contributed any larger chunks of code to an open source project before (just little bugfixes and stuff), but I'm be happy to give it a shot.

[2015-11-25 16:29] Ocramius commented on #21
@MidnightDesign this issue is marked for 2.0.0 - you are free to do whatever you want on it :-)

Suggestion: open a PR early, so that it can be discussed carefully.

[2015-11-25 16:43] MidnightDesign opened #29 "Minimum PHP Version"
Right now, this package requires `"php":  "~7.0"`. Do we want to keep it that way?

[2015-11-25 16:45] Ocramius commented on #29
@MidnightDesign yes, PHP7 is going to be the next stable version (apparently as of December 3rd), and it doesn't make sense to develop new software against legacy versions.

[2015-11-25 16:45] #29 closed

[2015-11-25 16:59] MidnightDesign commented on #21
I'll just open the PR with only the interfaces you mentioned we'll see where it goes from there. Should I open it against master or are you going to create a 2.0 branch?

[2015-11-25 17:23] Ocramius commented on #21
@MidnightDesign `master`, thanks! :-)

[2015-12-14 10:15] AndrewCarterUK opened #34 "Signing key in the README doesn't have enough entropy"
I've got a [pull request](https://github.com/thephpleague/glide/pull/109) open on a League Package which that adds a vendor binary to the package for generating a secure key.

I'm wondering whether it's worth splitting this up to be it's own package that can be used on a global composer install?

[2015-12-14 11:12] AndrewCarterUK commented on #34
I've made a tool for doing this, not sure if you want me to create a pull request for including it: https://github.com/AndrewCarterUK/CryptoKey

[2015-12-14 11:37] Ocramius commented on #34
@AndrewCarterUK while this is true, it is documented that the keys should be generated properly.
This package is not supposed to take on that bit, but I'd gladly merge a PR that links to some more clear and complete docs about key generation.

[2015-12-14 11:38] Ocramius commented on #34
Or are you suggesting to add a `::fromAutoGeneratedKey()`?

[2015-12-14 11:42] AndrewCarterUK commented on #34
I'm just suggesting that it's made clear to users that mashing something such as:

[code]

Isn't secure enough for this purpose.

At the moment it looks a little bit like a place to type a password rather than something to fill with lots of bits straight out of a CSPRNG.

[2015-12-14 11:48] Ocramius commented on #34
Ah yes. This is made clear in the docs, but feel free to add a link and a
warning also to the README
On Dec 14, 2015 12:42 PM, "Andrew Carter" <notifications@github.com> wrote:

[2015-12-14 11:50] AndrewCarterUK commented on #34
I've got two open pull requests (both take it or leave it) - happy to edit them in any way you feel is appropriate.

https://github.com/Ocramius/PSR7Session/pull/35
https://github.com/Ocramius/PSR7Session/pull/36

[2015-12-14 12:42] AndrewCarterUK commented on #34
Closed by https://github.com/Ocramius/PSR7Session/pull/36

[2015-12-14 12:42] #34 closed

[2015-12-15 13:15] timoh6 opened #38 "Add mention about cookie replay to limitations.md"
As cookie replay could be a security threat (client replays the same cookie multiple times and discards new cookies set by the application), I suggest we should pay attention to it somehow in the limitations.md.

Maybe add new paragraph "Cookie replay" and mention something like (just a quick suggestion):

to make the cookie replay issue stand out better.

I was thinking the Cookie replay paragrap

[2015-12-15 14:48] Ocramius commented on #38
@timoh6 it shall be done, thanks!

[2015-12-16 10:45] Ocramius commented on #38
Handled in #39

[2015-12-16 10:45] #38 closed

[2015-12-31 19:36] liuggio commented on #21
just a thought
in other languages "session" even don't exists
and be a no-state application is a great goal for new app (and this lib is made for PHP7 app)...
session with no storage is a great way to push the good practice of not using the session at all,
and use the psr interface only for auth.

I'm not saying you shouldn't are just few thoughts.

[2016-03-12 18:05] egil-systems opened #47 "Installation is broken"
Just an heads up with regard to versions / composer etc:

1. composer create-project zendframework/zend-expressive-skeleton test-sessions
2. cd test-sessions
3. composer require ocramius/psr7-session

Step 3 doesn't complete with the following output:

Using version ^1.0 for ocramius/psr7-session
./composer.json has been updated
Loading composer repositories with package information
Updating depen

[2016-03-12 18:17] lferro9000 commented on #47
Hi again,

After changing all composer branches to "*@dev" (which is not the recommended thing to do), do a composer update and then:

composer require ocramius/psr7-session

It installs fine.

My guess here is that the correct behavior for a middleware is to, ideally, to be installable against the "reference implementation" of the framework (in this case, the base skeleton app from zend expressiv

[2016-03-12 23:23] lferro9000 opened #48 "Assymetric signature issue"
Hi everyone,

I've just managed to setup everything and without any keys, it is working.

However when i added assymetric keys as described in the configuration, the session isn't kept between requests anymore.

Are there any restrictions on the size of the generated keys? (i've used the max 4096).

Somehow, it is not working.

Attaching the offending files for further testing by others (don't wor

[2016-03-12 23:46] Ocramius commented on #47
This seems to be a problem with ` zendframework/zend-expressive-skeleton`, not with this package.

To demonstrate it, you will see that following actually works:

[code]

Please report the issue in https://github.com/zendframework/zend-expressive-skeleton/issues

Closing as invalid.

[2016-03-12 23:46] #47 closed

[2016-03-12 23:52] lferro9000 commented on #47
Will do, sorry to waste your time :)

[2016-03-13 01:03] Ocramius commented on #48
@lferro9000 are the headers sent back to the browser, with these keys? Some ancient browsers impose a limit of ~2k in cookie size, but most modern browsers don't do that anymore, as the spec doesn't specify a size limit for headers/cookies.

[2016-03-13 01:07] Ocramius commented on #48
You seem to have used GPG keys there, but RSA private/public keys are expected by the component.

Here is one of the keys in the zip file (`public.key`):
[code]

Compare it to https://github.com/Ocramius/PSR7Session/blob/4b8f656d11f8d492bc2eb257a737025b6764e09c/test/keys/public_key.pem for reference.

[2016-03-13 01:08] Ocramius commented on #48
Closing as invalid: please retry with a 4096 bit RSA key, it should work :-)

[2016-03-13 01:08] #48 closed

[2016-03-20 11:30] Ocramius opened #49 "Humbug reports few bad tests"
Here's a simple `humbuglog.txt`:

[code]

This basically means that we either didn't cover the code completely, or that we didn't assert enough on the outcomes.

[2016-04-20 14:01] 3DFace commented on #15
Not sure if it's appropriate thread to ask...
Is it possible to use this library without frameworks/PSR-7-middleware at all? Some base class that I can instantiate and call get- set- on it? It would be nice to have an explanation how to use it in such scenarios if it's possible.

[2016-04-20 14:06] Ocramius commented on #15
This lib is primarily designed to be used within a PSR-7 middleware
context, but all classes can be used manually on their own. They are
actually tending to be tiny and simple to import.
On Apr 20, 2016 16:01, "3DFace" <notifications@github.com> wrote:

[2016-07-12 11:34] hatrena opened #52 "unable to use get() method"
When i use `$session->set()` and `$session->get()` immediately after it, everything works properly. but after that in the same page (Middleware), when i comment out `$session->set()`, `$session->get()` does give me nothing:

`$session = $request->getAttribute(\PSR7Session\Http\SessionMiddleware::SESSION_ATTRIBUTE);`
`//$session->set('user', 'Saeed');`
`echo $session->get('user');`

[2016-07-12 11:37] Ocramius commented on #52
Did your cookies get transmitted at all? What is the cookie like? Can you try checking its contents?

[2016-07-12 11:52] hatrena commented on #52
is there any specific variable that i need to look for in COOKIE? i have `PHPSESSID`

[2016-07-12 11:57] Ocramius commented on #52
This lib doesn't use PHPSESSID: it has its own cookie called 'slsession'

is there any specific variable that i need to look for in COOKIE? i have
PHPSESSID

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub
<https://github.com/Ocramius/PSR7Session/issues/52#issuecomment-232023172>,
or mute the thread
<https://github.com/notifications/unsubscribe/AAJak

[2016-07-12 12:01] hatrena commented on #52
The Cookie does not have `slsession`? any workaround to fix?

[2016-07-12 12:04] Ocramius commented on #52
Did you try any of the examples first?
On 12 Jul 2016 2:01 p.m., "Saeed Mohammadian" <notifications@github.com>
wrote:

[2016-07-12 12:06] hatrena commented on #52
yes, i have the same problem

[2016-07-12 12:10] Ocramius commented on #52
The counter example won't work either? Wondering if you can share how you have set it up...

[2016-07-12 12:16] hatrena commented on #52
I am using  Zend Expressive and pipe it via `SessionMiddleware`:

'middleware_pipeline' => [
            'pre_routing' => [
                'middleware' => [
                    ServerUrlMiddleware::class,
                    QueryStringMiddleware::class,
                ],
                'priority' => PHP_INT_MAX,
            ],
            'routing' => [
                'middleware' => [

[2016-07-12 12:19] Ocramius commented on #52
Please try out the examples in this project first, and ensure that the
counter example works (you just need to run it, no coding needed)
On 12 Jul 2016 2:16 p.m., "Saeed Mohammadian" <notifications@github.com>
wrote:

I am using Zend Expressive and pipe it via SessionMiddleware:

'middleware_pipeline' => [
'pre_routing' => [
'middleware' => [
ServerUrlMiddleware::class,
QueryStringMiddleware::clas

[2016-07-12 12:51] hatrena commented on #52
I have tested the `counter`, it shows `1` all the time, when i refresh the page

[2016-07-12 12:56] Ocramius commented on #52
Try:

[code]

Now browse to `http://localhost:8080` and you should see a counter increment at each page load

[2016-07-14 12:14] hatrena commented on #52
I have `slsession` variable in my cookie, but it returns me `true` for `isEmpty()`

[2016-07-14 13:53] Ocramius commented on #52
@hatrena did the example above work, first of all? I'm trying to understand if this is an environment issue or an integration issue.

[2016-07-14 15:26] hatrena commented on #52
The example did not work,  but i added those 2 extra libraries in the `composer.json` and created the `SessionMiddleware` in the way explained in the example. this way worked!. thanks

[2016-07-14 15:59] Ocramius commented on #52
The fact that the examples won't work bothers me. Do the unit tests pass?
On 14 Jul 2016 5:26 p.m., "Saeed Mohammadian" <notifications@github.com>
wrote:

[2016-07-14 16:03] hatrena commented on #52
I have added it to the unit test, assertion process failed since it could not get content from parsed token.

[2016-07-15 09:30] Ocramius commented on #52
Which test failed?

[2016-07-15 09:53] hatrena commented on #52
I ran a middleware test with mocking the request to get the attribute `SessionMiddleware::SESSION_ATTRIBUTE`

[2016-07-15 10:54] Ocramius commented on #52
I'm asking about the tests provided with this package :-)

[2016-07-15 11:48] hatrena commented on #52
That test passed!

[2016-07-27 08:49] mikemix commented on #52
Well I had same problem too. Turned out since I use it over HTTP on my dev server and not HTTPS, the `slsession` cookie has `secure` flag set so it does get transmitted to the server.

[2016-07-27 08:53] Ocramius commented on #52
That is intentional: do not use this sort of cookies without TLS.

On 27 Jul 2016 10:49 a.m., "Mike Zukowsky" <notifications@github.com> wrote:

[2016-07-27 08:57] mikemix commented on #52
Yeah it would be nice though to disable this while in dev mode ;)

[2016-07-27 09:02] Ocramius commented on #52
See the example dir on how to do that: works without https

On 27 Jul 2016 10:57 a.m., "Mike Zukowsky" <notifications@github.com> wrote:

[2016-07-27 09:03] mikemix commented on #52
thx @Ocramius great work by the way!

[2016-09-12 12:54] jschreuder opened #53 "Soften the zend-stratigility dependency"
Currently zendframework/zend-stratigility is only necessary for the Middleware, which I'm not using personally. This could be softened to a suggested package and only in require-dev probably?

Props on the lib otherwise! Just checking it out and loving how it works.

[2016-09-12 12:58] Ocramius commented on #53
Not removing the dependency unless another middleware specification/interface is provided (for which I'd add a different dependency).

Sorry, I do *absolutely not* do duck typing.

[2016-09-12 12:59] #53 closed

[2016-09-12 13:12] jschreuder commented on #53
I wasn't suggesting duck typing, I was suggesting that you can use the lib perfectly without pulling in Stratigility. Which I'm doing right now. As such I am now pulling in something I don't use and is thus (in my humble opinion) a soft dependency. It is suggested when used together with it, but not required for the central lib classes to function.

So you could keep SessionMiddleware based on Str

[2016-09-12 13:14] Ocramius commented on #53
If I depend on the interface and it isn't included, the entire thing would
just crash

On 12 Sep 2016 15:12, "Jelmer Schreuder" <notifications@github.com> wrote:

[2016-09-12 13:17] jschreuder commented on #53
Not if you don't use it? Or am I wrong and is it used in other classes than the SessionMiddleware class? I don't think I see it anywhere else but I may have missed something...

[2016-09-12 13:21] jschreuder commented on #53
Nevermind, I've pretty much copy pasted the whole thing by now. I may code up a pull-request which makes this suggestion a bit more feasible. Refactoring most of the Middleware into a trait that works with PSR7/SetCookie. And then one implementation that links it to Stratigility but keeps other options open by using the trait.

[2016-09-12 13:29] Ocramius commented on #53
This is security-sensitive code: do not copy-paste it unless you understand
all the details of the package, and are prepared to rewrite the copy-pasted
code every time we do a release.

Also, yes, the interface is used as simple type safety and BC boundary
enforcement.

If I didn't include stratigility, I would have had to provide my own
middleware interface, and then this would defeat the BC boun

[2016-09-12 13:44] Isinlor commented on #53
@Ocramius Is there any specific reason why Stratigility does not provide package with just the interface?

@jschreuder Maybe you should go to Stratigility folks and ask them to make separate Middelware interface package that Stratigility and PSR7Session can depend on.

[2016-09-12 13:46] jschreuder commented on #53
@Isinlor I'm currently working on something which is pretty much copy-pasted from PHP-FIG's working document for PSR-15 which I prefer over the Stratigility interface. So I'm already preparing to move to an outside interface with multi-vendor support.

[2016-09-12 13:55] Isinlor commented on #53
@jschreuder If I remember well you should be able to create adaptor for Stratigility interface to PSR-15.

Nevertheless I don't see a reason for PSR7Session and all other like-minded middelwares to depend on concrete implementation of Stratigility and not on the interface only. I will create an issue on Stratigility repo as they should be able to do this without BC.

[2016-09-12 13:59] Ocramius commented on #53
not sure, but that's a good suggestion indeed! Thanks for opening an issue there, if you do :)

[2016-09-12 14:00] Ocramius commented on #53
Meanwhile, closing here: come back to this suggestion once a more widespread middleware specification is ready.

I will **NOT** allow duck-typing on my code.

[2016-09-12 14:01] Isinlor commented on #53
I added it here: https://github.com/zendframework/zend-stratigility/issues/64 ;)

[2016-09-12 14:05] jschreuder commented on #53
Maybe I'm not being clear in what I mean, but I never suggested duck-typing. I just suggested that Stratigility not being available to those who don't use it isn't bad. You don't have to always load all dependencies, some may be optional but fail when not loaded. That's what I meant and that is very much and in every way NOT duck typing.

My suggestion was and remains:
Extract everything from Sess

[2016-09-12 14:09] Ocramius commented on #53
That still makes it for a non-interfaced `final` class, which is just trouble.

That's the path we went towards when designing the package last year, but in the end:

 * it caused more autoloading
 * it was actually slower (not by much, but we benchmarked the package)
 * it ended up being bloated (we tried to separate all responsibilities, but some of them are coupled by temporal/sequential constr

[2016-11-03 21:18] juliangut opened #56 "Question: PHP minimum version"
Is there a reason why minimum required PHP version is `~7.0`? couldn't it be `>=5.5`?

[2016-11-03 21:31] juliangut commented on #56
I've just seen #29, I expand my question:

Is there any "technical" reason to force minimum PHP version to `~7.0`? maybe `>=5.6`

IMHO I don't see the point in not wanting to support lets say a "legacy version" when it seems technically feasible (only scalar type hinting being used?) given PHP5.6 is still [actively supported](http://php.net/supported-versions.php) and will still be maintained for

[2016-11-04 06:40] Ocramius commented on #56
Not interested, and will likely bump to 7.1 as soon as we have any nullable
or void type declaration.

7.0 is stable, there are 0 reasons not to use it for new packages and
projects.

Security support is already something complex to take on: let's not turn it
into security+ legacy support.

On 3 Nov 2016 22:31, "Julián Gutiérrez" <notifications@github.com> wrote:

[2016-11-14 14:58] malukenho opened #57 "[RFC] Make session handlers implements `SessionHandlerInterface`"
My proposal is to make `PSR7-Session` implements the `php`'s `SessionHandlerInterface`. By doing that we can use `$_SESSION` directly, or whatever other library that manage the session.

Here's an exemple of what would be the set up for each handler:

[code]

You should be able to change the handler easy and with the bare minimum modification on your application.

**Yes**. I'm saying that we shoul

[2016-11-14 15:01] Ocramius commented on #57
@malukenho I suggest two separate repositories:

 * session save handler repository (@necromant2005 already built one, maybe we can import it?)
 * session middleware that populates/saves the `$_SESSION` global variable using this repository's session storage

[2016-11-14 15:03] Ocramius commented on #57
Note: relying on `$_SESSION` directly in the code is a bad idea.

[2016-11-14 15:05] SvenRtbg commented on #57
I'd oppose this proposal as long as you cannot prove that the resulting software will behave exactly identical compared to the classic files save handler, i.e. including locking and not losing any data on concurrent requests.

If it behaves differently, it should not inherit from/extend a mechanism that people have certain expectations on how it works.

[2016-11-14 15:11] malukenho commented on #57
@Ocramius relying on session directly or not is up to the user IMO.

@SvenRtbg look at the interface:

[code]

That's basically what we got now. My main point in here is that it should be the most simple to use we can, and the most important thing, should be most ease to **get rid of it** when you want.

[2016-11-14 15:16] Ocramius commented on #57
This is perfectly OK for apps that only need auth

Relying on a superglobal should be for legacy code, not for new code.

[2016-11-14 15:18] SvenRtbg commented on #57
@malukenho I known that interface. It's most overlooked requirement is that `open()` should aquire a lock on the storage for the session id, and that `close()` must release that lock again. If this is not implemented (at all or correctly), things will go wrong when people assume that it is just another session save handler that can be used just like any other old school PHP session.

Various proje

[2016-11-14 17:15] allflame commented on #57
@SvenRtbg I'm pretty sure locks without (shared) "storage" are impossible.
There are just much more limitations to the realization of that interface that are "under the hood" (mainly the amount of data you can set in the cookie) hence there will be at most basic compatibility just "for apps that only need auth" and nothing besides that.

[2016-11-14 17:29] SvenRtbg commented on #57
@allflame Are you supporting this proposal, or is your statement against it? From my view, I don't see a benefit, and your comment underlined it:

1. Cookies are not able to store large amount of data.
2. Locking is impossible.
3. $_SESSION access is a bad idea.
4. The use case seems to be a very limited "authentication data only" one.

If this is all true: Why implement `SessionHandlerInterface`

[2016-11-14 18:56] allflame commented on #57
@SvenRtbg honestly just wanted to share an opinion, as it's not up to me to decide.
I see your point and probably I tend to lean more towards it, but I can understand people who want flexible on/off switch and don't want to write another copy of wrapper code just for themselves.

[2016-11-14 20:26] Ocramius commented on #57
@SvenRtbg the limitations of this package are described in full in [`docs/limitations.md`](https://github.com/psr7-sessions/storageless/blob/bb1ac9193b5de6810626ebaae9ef71e4ad5d8a6c/docs/limitations.md). If someone wishes to use `$_SESSION` in a highly concurrent write scenario, they already know what they are going to hit when using this package for session management.

Other than that, writing b

[2016-11-23 14:42] #56 closed

[2017-03-12 12:12] mindplay-dk opened #60 "Request objects as service locators"
In the example in your README, you're using the Request object essentially as a service-locator:

[code]

You're relying on side-effects and middleware execution order.

Just my opinion, but I don't think that's what attributes are for - this was intended as a means of attaching other meta-data to a Request, but what you're effectively doing here, is using it as a kind of service registry. I don't

[2017-03-12 12:33] lcobucci commented on #60
@mindplay-dk that's a nice one, it indeed makes things simpler and also removes some responsibilities from the middleware itself. Although it's a BC break it's much worth it.

Thanks!

[2017-03-12 12:35] lcobucci opened #61 "Upgrade lcobucci/jwt to v4"
Since it's very close to be released we can already start doing it

[2017-03-12 15:15] Ocramius commented on #61
@lcobucci try an example patch - would also serve as a good example to see whether the new JWT API plays nicely.

[2017-03-12 15:27] Ocramius commented on #60
A few things here:

 * the session is **NOT** a service, it's data. We are not retrieving a service from it.
 * session being **NOT** a service makes it a non-injectable. If injected, any middleware in the context of a lung running process would break when reused.
 * the approach of using the request attributes as a mutable exploitable section of the server request is a thoughtful decision that wa

[2017-03-12 15:27] #60 closed

[2017-03-12 20:26] mindplay-dk commented on #60
@Ocramius I'm fine with you closing this, just thought I'd bring it up - we ended up using this pattern in our own session-library (written mostly by one of my coworkers, uses a PSR-16 cache for storage) and it reduced the complexity of that library by at least a factor two.

I can let you know when it's released as open-source, so you can see for yourself - it really is one of the most simple and

[2017-03-12 23:11] lcobucci commented on #60
I completely forgot about #28 when I commented, my intention was basically to revive the discussion around the immutability issue...

[2017-03-12 23:12] lcobucci commented on #61
@Ocramius will do 😉

[2017-03-12 23:15] lcobucci commented on #52
Closing since the issue was the "secure" flag (which is mentioned on documentation).

[2017-03-12 23:15] #52 closed

[2017-03-13 09:03] allflame commented on #60
@mindplay-dk, here:

The argument will hold against Request/Response itself and although your statement is correct I will try to interpret it in form of service/dependency vocabulary:
"Volatile" classes cannot be part of composition/aggregation dependency
This usually creates what @Ocramius likes to call "Spooky action at a distance"

On the other hand my personal belief is that Middlewares themse

[2017-03-13 10:58] mindplay-dk commented on #60
Of course they can?

As long as the dependents themselves are "volatile" - controllers etc. are typically "use once and throw away", just like the request and session objects are, and of course you can (and should) use dependency injection to provide controllers with those dependencies.

The only alternative is for e.g. controllers to look up dependencies, e.g. using some kind of service locator,

[2017-03-13 11:00] Ocramius commented on #60
That makes basically every frikken controller and service layer broken. Some things are inherently broken (doctrine ORM, for example), but we should finally stop designing this way, goddammit.

[2017-03-13 15:19] mindplay-dk commented on #60
What? Er. No. Using anti-patterns (such as service-location) is "broken" - using dependency injection is not merely the only sane alternative.

Yes, it would be "broken" *in your current single-context architecture*, but service-location is not the answer, it's just a horrible work-around; the real problem in the first place is the single-context architecture, clearly, because in a long-running ap

[2017-03-13 16:04] Ocramius commented on #60
A session is not a service, a session is data that can be associated (in a
1-to-1 association) with a request.

There is no discussion about that: a session is just a multi-request-scoped
mutable bunch of data.

This is not service location, it's data retrieval and manipulation, where
the identifier for that DTO is managed by this library (in this specific
scenario, the entire data packet + crypto

[2017-03-13 16:22] mindplay-dk commented on #60
That "data" comes in the form of an object - that object is a dependency, and using dependency-injection via the constructor is the simple, obvious choice.

Dependency injection, always, no exceptions. I live by that since over a year now, and I assure you, it works - much better than the work-arounds we've been taught are necessary because of the single-context architectures which are almost excl

[2017-03-13 16:32] Ocramius commented on #60
I can imagine it differently: I injected the session for many many years.
It was always a mistake, and it always felt like a mistake. The development
of this library made it extremely evident too.

The fact that an injected dependency has a lifecycle that is different
(shorter or unrelated) from the lifecycle of the service that depends on it
(middleware) is a very simple way to demonstrate how br

[2017-03-13 16:51] allflame commented on #60
@mindplay-dk Even if there is the simplest way to do things, it's not always the right one. The vocabulary here is the following:
"data" is a "dependency" connection between objects
"service" - every other connection type (including aggregation aka constructor injection)
E.g. in your approach you can go with EchoAction and put Request, Session and other things into the constructor and run it. That

[2017-03-13 16:56] mindplay-dk commented on #60
You're right, but you're again assuming a single-context architecture.

In a multi-session architecture, long-lived components can't depend on short-lived components, at all, it's not even possible, because there's a natural one-directional dependency flow.

Multiple contexts means multiple containers, e.g. an application-level context/container for long-lived services, and a request-level context

[2017-03-13 20:20] danizord commented on #60
@mindplay-dk I'm ok with your application and request context separation, but my question is:

If middlewares and actions/controllers can work in long-lived application context, why would you want to move them to request context? This only introduces the need re-construct the whole middleware pipeline in every new request for almost no benefit.

[2017-03-13 20:23] danizord commented on #60
Also, type satefy can be achieved without making your middlewares disposable by moving the request attribute retrieval to a named constructor or some pure function:
[code]

[2017-03-13 20:49] mindplay-dk commented on #60
Middleware doesn't - that's why it's in the application-side in the diagram.

In my projects, middleware always works in a long-lived application-context - it does not depend on request/response *to exist* (constructor-dependency) but has methods that will get called when a request arrives. They can process multiple requests in a long-running application.

Controllers are in the right side of the

[2017-03-13 21:00] mindplay-dk commented on #60
Yes, but (1) my middleware is *not* getting disposed, and (2) I try not to use static methods.

A static method would prevents someone from extending/overriding the `Session::fromServerRequest` method application-wide; even if it's a stateless, pure function, writing this as a class with a regular method allows you to extend/override that dependency application-wide, and also clearly illustrates i

[2017-03-14 05:38] Ocramius commented on #60
The above are not services: that's partial application of current execution
scope to a service. I can live with that, but NOT in library code.

On 13 Mar 2017 5:56 p.m., "Rasmus Schultz" <notifications@github.com> wrote:

[2017-03-14 07:42] mindplay-dk commented on #60
@Ocramius I think now we're just mingling words? ;-) ... my definition of "service" is *extremely* loose - basically I mean any object that provides any kind of service, e.g. any object with a public method that you depend on for something. I know that's extremely broad. I should probably say "dependency" :-)

[2017-03-14 09:03] Ocramius commented on #60
I'm mingling words, you're mingling dependencies that aren't dependencies. I'm locking down the thread: it's become useless at this point.

[2017-04-14 12:31] lcobucci commented on #49
This was solved on #55, right @Ocramius ?

[2017-04-14 12:36] lcobucci commented on #49
Closing since [humbug log is puurrfect now](https://travis-ci.org/psr7-sessions/storageless/jobs/222057292#L263)

[2017-04-14 12:36] #49 closed

[2017-05-03 16:49] belgattitude opened #62 "Support for zend-expressive 2.0 (zend-stratigility 2.0)"
Is there support planned for zend-expressive 2.0 ?

Any ideas on how to do it ?

[2017-05-03 16:52] Ocramius commented on #62
PSR-15 isn't final yet: once that reaches 1.0.0 we can adapt to it.

On 3 May 2017 6:49 p.m., "Sébastien Vanvelthem" <notifications@github.com>
wrote:

[2017-05-03 16:52] lcobucci commented on #62
It would be addressed in #59 since expressive 2 follows PSR-15.

[2017-05-03 16:55] belgattitude commented on #62
Got it, thanks @Ocramius.

[2017-05-03 16:55] #62 closed

[2017-05-07 23:21] lcobucci opened #63 "Signature validation is never delayed"
`SessionMiddleware#appendToken()` always calls `SessionInterface#isEmpty()` which [will initialise the session data](https://github.com/psr7-sessions/storageless/blob/609f52ede289f5dc9775a7df83104ca434a60fce/src/Storageless/Session/LazySession.php#L111).

The [test](https://github.com/psr7-sessions/storageless/blob/609f52ede289f5dc9775a7df83104ca434a60fce/test/StoragelessTest/Http/SessionMiddlewar

[2017-05-08 06:19] lcobucci commented on #63
It's important to say that this was only found while upgrading to the alpha version of `lcobucci/jwt` that doesn't have that weird exception anymore.

[2017-05-08 09:32] #63 closed

[2017-05-30 17:54] jensklose opened #66 "Storageless don't prevent replay attacks!"
Attention! IMO, your approache don't work like promised.

What is the problem?
The obvious solution against replay attacks: When a request comes in, you check a token value, check that it is the **current** value, and if it is, process it, and then change the current value.
If you share the **current** value with the client without some 3th party storage, then the whole request is ready for playin

[2017-05-30 18:01] Ocramius commented on #66
Any other servers can do this also with traditional sessions by just impersonating the user.

If an action is not supposed to be repeated, a separate flag should be set in place in the storage specific to this feature.

Could you please check the limitations docs and see if the scenario matches?

[2017-05-30 19:28] jensklose commented on #66
This is a hint for experienced users. But your CSRF tokens don't be save.

If I could capture your "100 € submit" to an API with storageless session ... ;)
I like the real intention in your work. A PSR7 middleware with an easy api for JWT as Cookie solution. But I'm confused by the name and documentation.

Here another example:

 I think that this is a pitfall. What do you mean with "public" and "

[2017-05-30 21:33] Ocramius commented on #66
This kind of stuff is extremely risky and is done with idempotent flags that prevent double submission.

I'm all in for improving it! In general, this package covers well over the 90% use-case scenario, which is authentication and CSRF token generation

[code]

Correct, but the tokens are not encrypted in this library. All what consumers would do is validate the signature, which is done with a pub

[2017-05-31 08:40] lcobucci commented on #66
@jensklose isn't that covered on https://github.com/psr7-sessions/storageless/blob/master/docs/limitations.md#sessions-cannot-be-invalidated?

I mean, there're ways to revoke tokens and don't accept a token which is no longer valid (as in doesn't contain the last state of the session) but that requires a storage system - at least a cache - to either create a whitelist or a blacklist and validate t

[2017-05-31 11:05] allflame commented on #66
@lcobucci I know that I was not involved in the original discussion, but let me make a suggestion:
I think a lot of people coming to JWT does not (carefully) read the "cons" section cause all the hype around it. So I would've taken a high road and make a life-like examples on how that may translate to real-life scenarios and that's what I came up with: "All-inclusive hotel" example (you can change

[2017-06-01 18:30] jensklose commented on #66
That's the point. People like me, looking for a session handler and then come to this useful piece of code, but there is something different in it as promised.

Again

CSRF tokens don't work. Without a storage your token has an unlimited validity. Maximum limited by the expiration time when set.

Don't call it session. Don't compare it to session. It is [JWT](https://jwt.io)!
Suggestion: Rework th

[2017-06-01 22:10] Ocramius commented on #66
Uhm, yeh, they work? I wrote ocramius/psr7-csrf and it does prevent CSRF
attacks.

On 1 Jun 2017 20:30, "Jens Klose" <notifications@github.com> wrote:

[2017-06-02 12:53] SvenRtbg commented on #66
Disclaimer: I know @jensklose personally.

I think the point Jens brings up is that this particular session library states that it is usable for replacing traditional PHP sessions, but eventually fails to deliver. There is a dedicated file describing all the shortcomings of this library, but this is somehow hidden and has to be discovered.

I suppose you are aware of the problems with using JWT fo

[2017-06-02 13:00] SvenRtbg commented on #66
See also: #22 https://github.com/psr7-sessions/storageless/issues/57#issuecomment-260358737 #38

[2017-06-02 15:14] Ocramius commented on #66
Which is what the limitations state clearly. What needs to happen here is:

 * better documentation
 * clarifying use-case scenarios

I already use this library in production systems that use CSRF and authentication. We already figured out the mitigation scenarios for breaches (where a breach would be a leaked token), and besides that, the "log me out from all computers" is not something that most

[2017-06-23 19:58] h3christophe opened #68 "zendframework/zend-stratigility ^1.1 dependancies"
I am using  zendframework/zend-stratigility version ^2.0 (2.0.1)
And because of that I cannot install this package

[code]

Is there a workaround ?

Thank you

[2017-06-23 20:00] Ocramius commented on #68
See https://github.com/psr7-sessions/storageless/pull/59

If you want, you can send a patch to allow stratigility 2.x in `composer.json`, and then we'll look at whether that works.

[2017-09-12 11:24] lferro9000 opened #69 "Composer dependencies are not installable"
Current composer dependencies are not instalable generating the following error:

Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Installation request for humbug/humbug dev-master -> satisfiable by humbug/humbug[dev-master].
    - humbug/humbug dev-mast

[2018-06-22 11:57] Ocramius commented on #69
Update: `humbug/humbug` is deprecated - we should switch to `infection/infection`.

[2018-06-22 12:00] Ocramius opened #78 "Consider using `Set-Cookie: ...; SameSite=Strict` or `Set-Cookie: ...; SameSite=Lax` to avoid CSRF attacks"
Ref: https://scotthelme.co.uk/csrf-is-dead/

@simensen you might be interested in this one :-)

[2018-08-06 12:08] #78 closed

[2018-08-06 12:08] Ocramius commented on #78
Handled in #79

[2018-08-21 20:55] Ocramius commented on #69
Solved in 4.0.0

[2018-08-21 20:55] #69 closed

[2018-08-21 20:58] Ocramius commented on #66
Closing here meanwhile - this is solved and already documented in known limitations. Note that since 4.0.0, `SameSite=Lax` or `SameSite=Strict` can be used (`Lax` and `SecureOnly` being the current cookie defaults), so replay attacks require MITM.

TL;DR: if you need to selectively clear user sessions, this library is indeed not for you, and you should indeed use a server-side storage.

[2018-08-21 20:58] #66 closed

[2018-08-21 20:58] Ocramius commented on #68
This was already solved in 3.0.0

[2018-08-21 20:58] #68 closed

[2020-01-15 09:52] Ocramius opened #104 "Replace `zendframework/` with `laminas/`"

[2020-01-26 15:22] raceybe opened #107 "validation of session cookie"
I haven't been able to find a method for validating the session `slsession` cookie without extracting the token and using the JWT library directly.

I see a `hasChanged()` method, but it isn't obvious what this is referring to. Changing the signature of the sent cookie still returns `false`.

Is this missing functionality, or out of scope for the library?

[2020-01-26 15:32] Ocramius commented on #107
The cookie is already validated?

[2020-01-26 15:35] raceybe commented on #107
What is observed when the token doesn't pass validation? Sorry if I'm thick, I just can't see it.

[2020-01-26 15:36] Ocramius commented on #107
https://github.com/psr7-sessions/storageless/blob/5.1.0/test/StoragelessTest/Http/SessionMiddlewareTest.php#L363

[2020-01-26 16:33] raceybe commented on #107
So there is no exception or error raised when the token doesn't validate? No flag to check?

[2020-01-26 16:36] Ocramius commented on #107
Correct: the dispatch will continue, but without a valid session: any session operations will lead to a new session

[2020-01-26 16:43] raceybe commented on #107
Ahh, okay, so it discards the invalid token and creates a new one, which I think is the behavior of PHP `session_start` if it doesn't recognize the session ID.

[2020-01-26 16:46] Ocramius commented on #107
Kinda similar, yes. Does that clear everything up? In theory, we tested every corner of this lib accurately, to prevent behaviour that isn't explicitly documented in test cases

[2020-01-26 16:48] raceybe commented on #107
Yes, I think so. No magic, just a session cookie passed back and forth with automatic disposal of invalid sessions. :)

[2020-01-26 16:48] #107 closed

[2020-03-02 22:31] #104 closed

[2020-03-02 22:33] Ocramius commented on #61
Removing milestone: `4.0.0` of `lcobucci/jwt` is not yet in sight.

[2020-04-19 05:43] Slamdunk opened #121 "Move from JWT to PASETO"
Hi, [PASETO](https://github.com/paragonie/paseto) is a JWT replacement with security as first target in mind. The page explains well what it does and why.

### PASETO shouldn't be used for stateless session

As reported in the README:

Paseto doesn't fit the purpose of this library, but JWT neither. So if this library does the wrong thing, at least it would be better to do it the right way :smile:

[2020-04-19 10:53] Ocramius commented on #121
meh, crypto community fud: all the points they argue about are described in `LIMITATIONS.md` 😛

[2020-04-19 10:55] Ocramius commented on #121
probably just the ctors.

Need to check if there are other consequences in the tests.

[2020-04-19 11:02] Slamdunk commented on #121
Yup, the replay attack weakness is real, but only makes sense if, with standard session, the developer builds a monitoring tool to know whether a cookie has been stolen and misused or not (like match IP/Geo/UserAgent etc everytime).
I've never seen anything like that outside giant businesses or security related ones.
Not within reach of average developer.

[2020-04-19 11:04] Ocramius commented on #121
Even then, that would mean that the transport layer is broken (no e2e encryption)

[2020-04-19 11:08] Slamdunk commented on #121
Not necessary: stealing the browser profile is still a thing, and most of them are not encrypted.
Big businesses I know, even bank ones, still give the same PC to different employees, it takes 3 minutes to run a live CD and steal everything...

[2020-04-19 11:22] Ocramius commented on #121
Yeah, can do that with traditional sessions anyway.

Pinning to IP address also no longer feasible due to roaming.

Still fud.

[2020-04-30 06:26] Slamdunk commented on #121
A brief recap of my last week: I'd like to propose a PR here, but first I prefer addressing https://github.com/paragonie/paseto/issues/111. Solutions to that issue are trivial, but need active replies from the maintainer which seems a.f.k. as of yet.

[2020-07-05 20:33] nepster-web opened #131 "Session drivers"
Whay didn't you support any session drivers, like: db, redis, memcached etc?

[2020-07-05 20:49] Ocramius commented on #131
This package is explicitly designed to not need that: hence the name "storageless".

[2020-07-05 20:49] #131 closed, assigned to Ocramius

[2020-07-05 20:51] oleg-andreyev commented on #131
Because it’s “storage-less”, no I/O (input/output) operations for writing and reading session

[2020-08-01 22:00] Ocramius opened #135 "Configure stryker mutation score badge"
The badge in `README.md` does not work yet.
I need someone else to head to https://dashboard.stryker-mutator.io/ and configure the API keys for it (https://infection.github.io/guide/mutation-badge.html#main) in the repository secrets (https://github.com/psr7-sessions/storageless/settings/secrets).

The two environment variables are called `INFECTION_BADGE_API_KEY` and `STRYKER_DASHBOARD_API_KEY`.

[2020-08-01 22:06] Ocramius opened #136 "Configure automatic releases secrets"
In https://github.com/psr7-sessions/storageless/blob/9ff0c88a0fe27facb29a9588989c219aa8d9692e/.github/workflows/release-on-milestone-closed.yml#L44, we require an `ORGANIZATION_ADMIN_TOKEN` and a `SIGNING_SECRET_KEY`.

Both need to be provided by an admin of the organisation.

I'll search for my GPG master key ASAP, since it's somewhere in my boxes (after having moved, things got messy :P )

[2020-08-01 23:16] Ocramius commented on #136
Done (found the damn key, generated a scoped subkey :D )

[2020-08-01 23:16] #136 closed, assigned to Ocramius

[2020-08-05 02:56] morozov commented on #136
Could you elaborate somewhere on how exactly it's done and how it should be registered on GH?

E.g. I have my primary key and I generated a signing subkey:
[code]
Do I need to add another public key to my GH account if I want to release as myself? How do I export the subkey and in which format should I create the `SIGNING_SECRET_KEY` variable?

[2020-08-05 06:50] Ocramius commented on #136
Can you open an issue on `laminas/automatic-releases`?

The `gpg --armor --export-secret-subkeys aabbccddeeff!` command (exclamation mark included) gives you an ascii subkey: you put that in the contents of the `SIGNING_SECRET_KEY` under your repository or organisation secrets.

After generating a new subkey, you will need to export your **public** key (`gpg --armor --export $yourMainKey`) and add

[2020-08-05 07:06] morozov commented on #136
Sounds doable. Thanks! Here's the issue: https://github.com/laminas/automatic-releases/issues/32.

[2020-08-27 11:00] Carpenter0100 opened #137 "Support php 7.4.9"
Hi all,
thank you for this project.
Is it possible to support php 7.4.9?

[code]

Thank you

[2020-08-27 11:35] Ocramius commented on #137
This expression:

https://github.com/psr7-sessions/storageless/blob/9ff0c88a0fe27facb29a9588989c219aa8d9692e/composer.json#L24

Already supports `7.4.9`, since `^7.4.7` means `>=7.4.7 && <8`

Something else going on here, I think.

Have you tried using a stable version? You seem to rely on `7.2.x-dev`

[2020-08-27 12:15] Carpenter0100 commented on #137
You are right. Thank you.
I found a wrong dependency definition in my composer.json.

[2020-08-27 12:15] #137 closed, assigned to nobody

[2021-02-01 20:47] Ocramius commented on #61
Handled in #146

[2021-02-01 20:47] #61 closed

[2021-02-05 06:08] Slamdunk commented on #121
After almost a year, here's what I think.

PASETO is an awesome standard, far better than JWT. But it's still a draft, it's adoption is sadly slow, and for now the switch for this library is not justified enough to drop the widely supported JWT.

Hope in the future to reopen this, but for now I'm going to close it.

[2021-02-05 06:08] #121 closed, assigned to nobody

[2021-09-29 08:33] lcobucci commented on #135
@Ocramius I just configured the secret `INFECTION_BADGE_API_KEY`, because according to infection's docs we just need one of them:

[2021-09-29 08:37] Ocramius commented on #135
Yes, I usually provide both for forward compatibility, since I don't know which one will survive :D

[2021-09-29 08:38] Ocramius commented on #135
Closing here meanwhile, thanks @lcobucci!

[2021-09-29 08:38] #135 closed, assigned to lcobucci, malukenho

[2021-09-29 08:45] Ocramius opened #196 "Re-configure infection to push mutation score reports for all stable branches"
See https://github.com/psr7-sessions/storageless/runs/3742041520?check_suite_focus=true#step:8:56, which reports:

[code]

This has been made configurable in https://github.com/infection/infection/pull/1538, and released in https://github.com/infection/infection/releases/tag/0.24.0

We'll need to adjust some configuration for it to work properly with the new branch naming mechanism :-)

[2021-09-29 08:46] Ocramius commented on #196
Badge will likely never work, because the branch name constantly changes :thinking:

[2021-09-29 08:47] lcobucci commented on #135
https://github.com/psr7-sessions/storageless/blob/4f860bf07ff1871a9ed333e16e4b5e56831e1705/infection.json.dist#L10 looks wrong though...

[2021-09-29 08:51] Ocramius commented on #135
#196 😁

[2021-09-29 11:36] lcobucci commented on #196
I reckon we can use a regex.. something like `/\d\.\d\.x/` should suffice, the tricky bit is keeping `README` up to date.

[2021-09-29 11:43] Ocramius commented on #196
IMO worth having this as badge feature request instead 😬

[2021-10-11 14:14] Ocramius commented on #21
Closing as per https://github.com/psr7-sessions/storageless/pull/30#issuecomment-940070995

[2022-07-21 09:36] Ocramius commented on #15
Closing here: won't do, as PSR-15 is now well established

[2022-07-21 09:36] #15 closed

[2022-08-22 08:52] Ocramius commented on #196
Handled in https://github.com/psr7-sessions/storageless/commit/57bb1dfc7268f25221efce8e4d07543f6b333917

[2022-08-22 08:52] #196 closed, assigned to Ocramius

[2022-10-31 16:34] renovate[bot] opened #542 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/psr7-sessions/storageless).

## Awaiting Schedule

The following updates are awaiting their schedule. To get an update now, click on a checkbox belo